	.bold {
		font-family: NeueHaasGrotesk, "Source Sans Pro", Helvetica;
		font-weight: bold;
		font-style: normal;
	}

/* Wrapper */

	#wrapper {
		width: 74em;
		max-width: calc(100% - 4em);
		margin: 0 auto;
	}

		@media screen and (max-width: 480px) {

			#wrapper {
				max-width: calc(100% - 2em);
			}

		}

		@media screen and (max-width: 360px) {

			#wrapper {
				max-width: 100%;
			}

		}
/* Playtest */
	
	.playtest {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		width: calc(100% + 1em);
		margin: 0 0 3em -1em;
		padding: 0;
		list-style: none;
	}
		.playtest .image {
			display: inline-block;
			/*padding: 0.65em;*/
			border-radius: 100%;
			border: none;
		}

			.playtest .image img {
				display: block;
				/*border-radius: 100%;*/
				width: 16em;
				border-width:0;
			}

		.playtest li {
			width: calc(25% - 1em);
			margin-left: 1em;
			margin-top: 3em;
			padding: 0;
		}

			.playtest li:nth-child(1), .playtest li:nth-child(2), .playtest li:nth-child(3), .playtest li:nth-child(4) {
				margin-top: 0;
			}

			.playtest li > :last-child {
				margin-bottom: 0;
			}

		@media screen and (max-width: 980px) {

			.playtest li {
				width: calc(50% - 2em);
			}

				.playtest li:nth-child(3) {
					margin-top: 3em;
				}

		}

		@media screen and (max-width: 736px) {

			.playtest {
				width: 100%;
				margin: 0 0 2em 0;
			}

				.playtest li {
					width: 100%;
					margin-left: 0;
					margin-top: 2em;
				}

					.playtest li:nth-child(2), .playtest li:nth-child(3) {
						margin-top: 2em;
					}

		}
